page-main-feed {
    ion-item {
        ion-label {
            vertical-align: baseline;
            h2 {
                padding-top: 3px;
            }
        }
    }
}
.feed {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    ion-item {
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    img {
        width: 100%;
    }

}