<!--
  Generated template for the MainFeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Canalava</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="openSettings()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="content$ | async; let contents; else loading">
    <ion-list>
      <div *ngFor="let content of contents; let i = index" class="feed">
        <ion-item (tap)="openAccount(content.Uploader)" *ngIf="('UserData' + '/' + content.Uploader | doc | async); let data">
          <ion-avatar item-start>
            <img-loader useImg src={{data.ProfileImg}} fallbackUrl="/assets/imgs/Unknown.png" spinner="true"></img-loader>
          </ion-avatar>
          <h2>{{data.Name}}</h2>
        </ion-item>
        <video *ngIf="content.isVideo == true" [src]=content.Image muted="true" autoplay controls playsinline
          webkit-playsinline loop width="100%"></video>
        <img *ngIf="content.isVideo == false" src={{content.Image}}>
        <ion-item>
          <h2 text-wrap>{{content.Message}}</h2>
          <div item-end>
            <ion-badge>{{ ('ContentLikes' + '/' + content.key | doc | async)?.Likes }} Likes</ion-badge>
            <button ion-button clear (tap)="giveLike(content)">
              <ion-icon *ngIf="content.isImageLiked == null || content.isImageLiked == false" name="heart-outline"></ion-icon>
              <ion-icon *ngIf="content.isImageLiked == true" name="heart"></ion-icon>
            </button>
          </div>
          <p>{{content.Timestamp | date}}</p>
        </ion-item>
      </div>
    </ion-list>
  </ion-list>
  <ng-template #loading>
      <div>Cargando</div>
  </ng-template>

  <ion-infinite-scroll threshold="20%" (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>