page-login {
    .master {
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    
 ion-slides {
     height: 60%;
     ion-slide {
     }
 }

 .LoginContainer {
     background-color: white;
     height: 240px;

     button {
         width: 100%;
         margin-top: 10px;
     }
 }


}

.slider  {
    width: 60% !important;
    height:  80% !important;
    //object-fit: cover;
    padding-top: 40px;
    background: transparent;
}

.styleLoginButton {
    background-image : (linear-gradient(to left, #00D8FF 0%,rgb(0, 255, 200) 95%));
    height: 40px;
    border-radius: 20px;
}