page-login {
    .master {
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    
 ion-slides {
     height: 60%;
     ion-slide {
        ion-img{
            padding-top: 40px;
            background: transparent;
        }
     }
 }

 .LoginContainer {
     background-color: white;
     height: 40%;

     button {
         width: 100%;
         margin-top: 10px;
     }
 }


}

.styleLoginButton {
    background-image : (linear-gradient(to left, #00D8FF 0%,rgb(0, 255, 200) 95%));
    height: 40px;
    border-radius: 20px;
}