page-login {
    .master {
        background-repeat: no-repeat;
        background-size:cover;
    }
    
    
 ion-slides {
     height: 60%;
 }

 .LoginContainer {
     background-color: white;
     height: 250px;

     button {
         width: 100%;
         margin-top: 10px;
     }

    .input {
        float: none; /* if you had floats before? otherwise inline-block will behave differently */
        display: inline-block;
        vertical-align: middle;  
    }
 }
}

.slider  {
    width: 60% !important;
    height:  80% !important;
    //object-fit: cover;
    padding-top: 40px;
    background: transparent;
}
