<!--
  Generated template for the TemasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="temas$ | async; let temas; else loading">
    <ion-item *ngFor="let tema of temas" (tap)="openTema(tema)">
      <ion-avatar item-start>
        <img-loader  src={{users.getUserImage(tema.PostedBy)}} fallbackUrl="assets/imgs/Unknown.png" useImg [spinner]="true"></img-loader>
      </ion-avatar>
      <h2 text-wrap *ngIf="('UserData/' + tema.PostedBy | doc | async); let user; else loading ">{{user.Name}}</h2>
      <p text-wrap>{{tema.Topic}}</p>
      <ion-note item-end>{{tema.Timestamp | date}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>