<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{userData.Name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="openMessages()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar item-start>
      <img-loader useImg src={{userData.Img}} fallbackUrl="/assets/imgs/Unknown.png" spinner="true"></img-loader>
    </ion-avatar>
    <h2>{{userData.Name}}</h2>
    <p>Telefono: {{userData.Phone}}</p>
  </ion-item>
  <div padding>
    <ion-segment [(ngModel)]="displayMode">
      <ion-segment-button value="List">
        <ion-icon name="image"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Grid">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Map">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="displayMode">
    <ion-list *ngSwitchCase="'List'">

      <div *ngIf="DataImgs.length == 0">
        <p>No Hay Imagenes</p>
      </div>

      <div *ngFor="let content of DataImgs" class="feed">
        <ion-item>
          <ion-avatar item-start>
            <img src={{userData.Img}}>
          </ion-avatar>
          <h2>{{userData.Name}}</h2>
        </ion-item>
        <img class="uploadImg" src={{content.ImageURL}}>
        <ion-item>
          <h2 text-wrap>{{content.Message}}</h2>
          <p>{{content.Timestamp | date}}</p>
          <div item-end>
            <ion-badge>{{content.likeNumber}} Likes</ion-badge>
            <button ion-button clear (tap)="giveLike(content)">
              <ion-icon *ngIf="content.isImageLiked == false" name="heart-outline"></ion-icon>
              <ion-icon *ngIf="content.isImageLiked == true" name="heart"></ion-icon>
            </button>
          </div>
        </ion-item>
      </div>
    </ion-list>
    <div *ngSwitchCase="'Grid'">

      <div *ngIf="DataImgs.length == 0">
        <p>No Hay Imagenes</p>
      </div>

      <div class="square" *ngFor="let content of DataImgs">
        <button class="content" (tap)="openPhoto(content)">
          <img *ngIf="content.isVideo == true" src={{content.Thumbnail}}>
          <img-loader *ngIf="content.isVideo == false" useImg src={{content.ImageURL}} fallbackUrl="/assets/imgs/Unknown.png"
            spinner="true" fallbackAsPlaceholder="true"></img-loader>
        </button>
      </div>
    </div>
    <div [style.display]="displayMode == 'Map' ? 'block' : 'none'">
      <div #googleMaps id="googleMaps"></div>
    </div>
  </div>
</ion-content>