page-search {
    ion-segment {
        margin: 5px 0px;
        ion-label {
            margin:  0px !important;
        }
    }

}
.userItem {
    ion-label {
        vertical-align: baseline;
        h2 {
            padding-top: 2.5px;
        }
    }
   
}