<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Subir Contenido</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="postData()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <img *ngIf="imgURL == ''" class="uploadImg" src="assets/imgs/Unknown.png" (tap)=openGallery()>
  <img *ngIf="imgURL != ''" class="uploadImg" src={{imgURL}} (tap)=openGallery()>
  <div class="linebreaker"></div>
  <ion-input *ngIf="uploadType == 1" placeholder="Titulo" [(ngModel)] = title></ion-input>
  <ion-textarea placeholder="Mensaje" floating text-wrap  [(ngModel)] = message></ion-textarea>
</ion-content>
