<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cuenta</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="openSettings()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding overflow-scroll=“true>
  <ion-item *ngIf="userData.userData[selected]">
    <ion-avatar item-start>
      <img-loader useImg src={{userData.getSelectedAccount().Img}} fallbackUrl="/assets/imgs/Unknown.png" spinner="true"></img-loader>
    </ion-avatar>
    <h2>{{userData.userData[selected].Name}}</h2>
    <p *ngIf='userData.userData[selected].isPhonePublic == true'>Telefono: {{userData.userData[selected].Phone}}</p>
    <button ion-button (tap)="editData()">Editar Información</button>

  </ion-item>

  <ion-list *ngIf="userData.userData.lenght > 0">
    <ion-item>
      <ion-label>Cuentas</ion-label>
      <ion-select (ionChange)="onChange($event)">
        <ion-option value={{i}} *ngFor="let account of userData.userData; let i = index" [attr.data-index]="i">{{account.Name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div padding>
    <ion-segment [(ngModel)]="displayMode">
      <ion-segment-button value="List">
        <ion-icon name="image"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Grid">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Map">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="displayMode">
    <ion-list *ngSwitchCase="'List'">
      <div *ngIf="data == []">
        <p>No Hay Imagenes</p>
      </div>
      <div *ngFor="let content of content.userContent" class="feed">
        <ion-item>
          <ion-avatar item-start>
            <img src={{userData.getSelectedAccount().Img}}>
          </ion-avatar>
          <h2>{{userData.getSelectedAccount().Name}}</h2>
          <button ion-button clear item-end (tap)="presentActionSheet(content)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-item>
        <video *ngIf="content.isVideo == true" [src]=content.ImageURL muted="true"  controls autoplay playsinline webkit-playsinline looped width="100%"></video>
        <img *ngIf="content.isVideo == false" src={{content.ImageURL}}>
        <ion-item no-lines>
          <ion-badge>{{content.likeNumber}} Likes</ion-badge>
          <button ion-button clear (tap)="giveLike(content)">
            <ion-icon *ngIf="content.isImageLiked == false" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="content.isImageLiked == true" name="heart"></ion-icon>
          </button>
          <h2 text-wrap>{{content.Message}}</h2>
          <p>{{content.Timestamp | date}}</p>
        </ion-item>
        <div class="linebreaker"></div>
      </div>
    </ion-list>

    <div *ngSwitchCase="'Grid'">
      <div class="square" *ngFor="let content of content.userContent">
        <button class="content" (tap)="openPhoto(content)">
          <img *ngIf="content.isVideo == true; else image" src={{content.Thumbnail}}>
          <img *ngIf="content.isVideo == false" src={{content.ImageURL}}>
        </button>
      </div>
    </div>
    <div [style.display]="displayMode == 'Map' ? 'block' : 'none'">
      <div #googleMaps id="googleMaps"></div>
    </div>
  </div>

  <ion-fab right bottom (tap)="addImage()">
    <button ion-fab color="blue">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>